            body {
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif font-size: 20px;
                line-height: 35px;
                color: blueviolet;
                margin: 10px, auto;
            }
            
            a:hover {
                background-color: blue;
                color: white;
            }
            
            a:active {
                background-color: yellow;
                color: whitesmoke;
            }
            
            a:visited {
                background: purple;
            }
            
            @media only screen and (max-width: 640px) {
                width: 100%;
            }